<!DOCTYPE html>
<html>
  <head>
    <title>Kwick Kwiz</title>
    <link rel="stylesheet" href="public/css/style.css">
  </head>
  
  <body>
    <form method=POST>
      <h3>What type of data structure are you?</h3>
      <input type="radio" name="response1" value="array"> Arrays
      <br>
      <input type="radio" name="response1" value="hash"> Hashes

      <h3>Pancakes or waffles?!</h3>
      <input type="radio" name="response2" value="pancakes"> Pancakes
      <br>
      <input type="radio" name="response2" value="waffles"> Waffles
      <br>
      <br>

      <input type="submit" value="Click if you dare...">
    </form>
  </body>
</html>